name: Build and test

concurrency:
  group: gradle-build-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
  workflow_dispatch:

jobs:
  validation:
    name: Branch name validation
    runs-on: ubuntu-latest
    steps:
      - name: Check branch name
        run: |
          if [[ "${{ github.ref }}" == "refs/heads/main" ]] 
          || [[ "${{ github.ref }}" =~ ^refs/heads/feature/.*$ ]] 
          || [[ "${{ github.ref }}" =~ ^refs/heads/release/v.*$ ]] 
          || [[ "${{ github.ref }}" =~ ^refs/heads/bug/.*$ ]] ; then
            echo "Branch naming is correct!"
          else
            echo "Invalid branch name! Correct format: 'feature/<branch-name>' or 'bug/<branch-name>' or release/vx.x.x"
            exit 1
          fi
  gradle-ci:
    name: Build and test
    needs: validation
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Build with Gradle
        uses: gradle/gradle-build-action@v2
        continue-on-error: false
        with:
          arguments: build